/* Floating Button */
.zenbug-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c9c8e1;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 16px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: background 0.3s ease;
}
.zenbug-title{
  color: #2c3e50;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

.zenbug-button:hover {
  background-color: #4338ca;
}

/* Modal Overlay */
/* feedbackModal.css or global widget CSS */
.zenbug-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  z-index: 9999;
}

.zenbug-modal {
  background: white;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 90vh;
}



@keyframes slideIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Form Fields */
.zenbug-modal input,
.zenbug-modal textarea,
.zenbug-modal select {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}
.zenbug-modal input {
  width: 93%;
}
.zenbug-modal textarea {
  width: 93%;
}
.zenbug-modal select {
  width: 100%;
}


/* Submit Button */
.zenbug-modal button.submit {
  background: #443f9f;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

.zenbug-modal button.submit:hover {
  background: #4338ca;
}

.screenshot {
margin-top: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.close {
 margin-top: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #888;
  padding: 5px 10px;
  transition: color 0.3s ease;
}


.close-button:hover {
  color: #e74c3c;
}

.body {
  background-color: white;
}